.error {
  border-color: red; }

.container {
  max-width: 1070px;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

@media (max-width: 1110px) {
  .container {
    padding: 0 20px; } }

p,
li {
  font-family: "Montserrat", sans-serif;
  color: #141f33;
  line-height: 1.75; }

li {
  padding: 1em 0; }

h2,
h3 {
  font-weight: 800;
  font-family: "Open Sans", sans-serif; }

h3 {
  font-size: 20px;
  padding: 10px 0; }

.btn {
  border: none;
  color: white;
  font-weight: 800;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #ffb100, #f7846d);
  box-shadow: 7.5px 13px 30px 0 rgba(247, 131, 109, 0.35);
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #fa983f; }

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 45px; }
  .hero__header {
    padding: 30px 0;
    text-align: left; }
  .hero__logo {
    width: 195px;
    height: 57px;
    object-fit: contain; }
  .hero__main {
    max-width: 595px;
    padding-top: 60px; }
  .hero__aside {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(to top, #b6e0f9, #eef2f8);
    width: 535px;
    height: 100%;
    text-align: right;
    border-bottom-left-radius: 50px; }
    .hero__aside-img {
      margin-left: -130px;
      height: 100%; }

.blue {
  text-transform: uppercase;
  font-size: 18.5px;
  color: #00aeef;
  font-weight: bold;
  letter-spacing: 0.93px; }

.main__title {
  font-size: 48px;
  padding: 38px 0;
  letter-spacing: normal;
  text-align: left; }

.main__subtitle {
  color: #fa983f;
  font-weight: bold; }

.main__text {
  padding: 36px 0; }

.main__list-item {
  position: relative;
  padding-left: 2em; }
  .main__list-item:before {
    position: absolute;
    content: "";
    top: 1.5em;
    left: 0;
    background-image: url(../images/rectangle-3-copy.svg);
    width: 19px;
    height: 13px; }
