.container {
  max-width: 1070px;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

@media (max-width: 1110px) {
  .container {
    padding: 0 20px; } }

p,
li {
  font-family: "Montserrat", sans-serif;
  color: #141f33;
  line-height: 1.75; }

li {
  padding: 1em 0; }

h2,
h3 {
  font-weight: 800;
  font-family: "Open Sans", sans-serif; }

h3 {
  font-size: 20px;
  padding: 10px 0; }

.btn {
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #f7846d 0%, #ffb100 100%);
  box-shadow: 7.5px 13px 30px 0 rgba(247, 131, 109, 0.35);
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-image: linear-gradient(120deg, #fa983f 0%, #fa983f 100%); }

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 45px; }
  .hero__header {
    padding: 30px 0;
    text-align: left; }
  .hero__logo {
    width: 195px;
    height: 57px;
    object-fit: contain; }
  .hero__main {
    max-width: 595px;
    padding-bottom: 60px; }
  .hero__aside {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(to top, #b6e0f9, #eef2f8);
    width: 535px;
    height: 100%;
    text-align: right;
    border-bottom-left-radius: 50px; }
    .hero__aside-img {
      margin-left: -130px;
      height: 100%; }
  .hero__block {
    display: flex;
    justify-content: space-between; }
  .hero__inner {
    position: relative; }

.blue {
  text-transform: uppercase;
  font-size: 18.5px;
  color: #00aeef;
  font-weight: bold;
  letter-spacing: 0.93px; }

.main__title {
  font-size: 48px;
  padding: 38px 0;
  letter-spacing: normal;
  text-align: left; }

.main__subtitle {
  color: linear-gradient(120deg, #fa983f 0%, #fa983f 100%);
  font-weight: bold; }

.main__text {
  padding: 36px 0; }

.main__list-item {
  position: relative;
  padding-left: 2em; }
  .main__list-item:before {
    position: absolute;
    content: "";
    top: 1.5em;
    left: 0;
    background-image: url(../images/rectangle-3-copy.svg);
    width: 19px;
    height: 13px; }

.form {
  padding: 60px; }
  .form__title {
    text-align: center;
    line-height: 1.5; }
  .form-wrapper {
    position: absolute;
    z-index: 2;
    top: 180px;
    right: 0;
    width: 420px;
    margin-left: 20px;
    height: 521px;
    border-radius: 5px;
    box-shadow: 6.5px 24.1px 60px 0 rgba(67, 103, 138, 0.25);
    background-color: #ffffff; }
  .form__input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #dddddd;
    padding: 20px 16px;
    font-family: "Montserrat", sans-serif;
    margin: 7px 0 12px 0;
    outline: none;
    background-color: #ffffff; }
    .form__input:active {
      box-shadow: 1.294px 4.83px 15px 0px rgba(67, 103, 138, 0.25); }
    .form__input-title {
      font-size: 13px;
      font-weight: bold; }
    .form__input:visited {
      background-color: #ffffff; }
  .form__btn {
    width: 100%;
    padding: 15px 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }

.error {
  border: 1px solid #e45c41; }
