$text-color: #141f33;
$btn-color: linear-gradient(to top, #ffb100, #f7846d);
$hover-color: #fa983f;
$blue-color: #00aeef;
$main-font: "Montserrat", sans-serif;
$bolt-font: "Open Sans", sans-serif;

%sec-padding {
  padding: 100px 0;
}

.error {
  border-color: red;
}
.container {
  max-width: 1070px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 1110px) {
  .container {
    padding: 0 20px;
  }
}

p,
li {
  font-family: $main-font;
  color: $text-color;
  line-height: 1.75;
}

li {
  padding: 1em 0;
}

h2,
h3 {
  font-weight: 800;
  font-family: $bolt-font;
}

h3 {
  font-size: 20px;
  padding: 10px 0;
}

.btn {
  border: none;
  color: white;
  font-weight: 800;
  letter-spacing: 0.8px;
  border-radius: 5px;
  background-image: $btn-color;
  box-shadow: 7.5px 13px 30px 0 rgba(247, 131, 109, 0.35);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $hover-color;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 45px;

  &__header {
    padding: 30px 0;
    text-align: left;
  }
  &__logo {
    width: 195px;
    height: 57px;
    object-fit: contain;
  }
  &__main {
    max-width: 595px;
    padding-top: 60px;
  }
  &__aside {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(to top, #b6e0f9, #eef2f8);
    width: 535px;
    height: 100%;
    text-align: right;
    border-bottom-left-radius: 50px;
    &-img {
      margin-left: -130px;
      height: 100%;
    }
  }
}

.blue {
  text-transform: uppercase;
  font-size: 18.5px;
  color: $blue-color;
  font-weight: bold;
  letter-spacing: 0.93px;
}

.main {
  &__title {
    font-size: 48px;

    padding: 38px 0;
    letter-spacing: normal;
    text-align: left;
  }
  &__subtitle {
    color: $hover-color;
    font-weight: bold;
  }
  &__text {
    padding: 36px 0;
  }
  &__list-item {
    position: relative;
    padding-left: 2em;
    &:before {
      position: absolute;
      content: "";
      top: 1.5em;
      left: 0;
      background-image: url(../images/rectangle-3-copy.svg);
      width: 19px;
      height: 13px;
    }
  }
}

// .sctitle {
//   // background-image: linear-gradient(to top, #eef2f8, #b6e0f9);

//   text-transform: uppercase;
//   font-family: $main-font;
//   font-size: 20px;
//   text-align: center;
//   position: relative;
//   padding-bottom: 60px;
//   &:before {
//     position: absolute;
//     content: " ";
//     top: 50px;
//     left: 50%;
//     transform: translateX(-50%);
//     text-align: center;
//     width: 50px;
//     height: 2px;
//     background-color: $text-color;
//   }
// }

// .undertitle {
//   font-size: 16px;
//   text-align: center;
//   margin-bottom: 70px;
// }

// .preloader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 3;
//   background-color: $img-color;
//   text-align: center;
//   color: #fff;
//   font-size: 30px;
//   padding: 20%;
//   transition: 1s all;
//   opacity: 1;
//   visibility: visible;
// }

// .loader {
//   width: 90px;
//   height: 90px;
//   border: 10px solid white;
//   border-radius: 50%;
//   border-top-color: #c0301c;
//   line-height: 60px;
//   color: white;
//   padding: 5px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   animation: spin 1s infinite;
// }

// .done {
//   opacity: 0;
//   visibility: hidden;
// }

// #left,
// #right {
//   display: inline-block;
// }

// @keyframes spin {
//   from {
//     transform: translate(-50%, -50%) rotate(0deg);
//   }
//   to {
//     transform: translate(-50%, -50%) rotate(360deg);
//   }
// }

// @media only screen and (max-width: 768px) {
//   %sec-padding {
//     padding: 50px 0;
//   }
//   body {
//     padding-bottom: 195px;
//   }
// }

// @media only screen and (max-width: 576px) {
//   .undertitle {
//     margin-bottom: 20px;
//   }
// }

// @media only screen and (max-width: 470px) and(min-width: 320px) {
//   %sec-padding {
//     padding: 20px 0;
//   }
//   body {
//     padding-bottom: 135px;
//   }
//   .sctitle {
//     padding-bottom: 30px;
//     &:before {
//       top: 30px;
//     }
//   }
// }

// @keyframes rubberBand {
//   from {
//     -webkit-transform: scale3d(1, 1, 1);
//     transform: scale3d(1, 1, 1);
//   }
//   30% {
//     -webkit-transform: scale3d(1.25, 0.75, 1);
//     transform: scale3d(1.25, 0.75, 1);
//   }
//   40% {
//     -webkit-transform: scale3d(0.75, 1.25, 1);
//     transform: scale3d(0.75, 1.25, 1);
//   }
//   50% {
//     -webkit-transform: scale3d(1.15, 0.85, 1);
//     transform: scale3d(1.15, 0.85, 1);
//   }
//   65% {
//     -webkit-transform: scale3d(0.95, 1.05, 1);
//     transform: scale3d(0.95, 1.05, 1);
//   }
//   75% {
//     -webkit-transform: scale3d(1.05, 0.95, 1);
//     transform: scale3d(1.05, 0.95, 1);
//   }
//   to {
//     -webkit-transform: scale3d(1, 1, 1);
//     transform: scale3d(1, 1, 1);
//   }
// }

// .rubberBand {
//   -webkit-animation-name: rubberBand;
//   animation-name: rubberBand;
// }
